{% extends 'articles/base.html' %}
{% load i18n %}

{% block title %}{% trans article.title %}{% endblock %}
{% block meta-keywords %}{{ article.keywords|escape }}{% endblock %}
{% block meta-description %}{{ article.description|escape }}{% endblock %}
{% block extra-head %}
{{ block.super }}
{% for tag in article.tags.all %}
<link rel="alternate" type="application/rss+xml" title="Blog Articles Tagged '{{ tag.name }}' RSS Feed" href="{% url articles_rss_feed_tag tag.rss_name %}" />
<link rel="alternate" type="application/atom+xml" title="Blog Articles Tagged '{{ tag.name }}' Atom Feed" href="{% url articles_atom_feed_tag tag.rss_name %}" />{% endfor %}
<link rel="stylesheet" href="{{ STATIC_URL }}articles/css/wider_v201208211629.css" />
<style type="text/css">
    .blogstyle .col4 {display:block;}
</style>
<!-- Take this IE users! (use a real browser!!!) //-->
<!--[if IE]>
<script type="text/javascript">
$(document).ready(function () {
  $('#dieIE').css({display: 'block'});
  $('body').children().each(function () {
    $(this).removeClass();
    var eid = $(this).attr('id');
    $(this).attr('id', eid + 'dieIE');
  });
});
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}articles/css/ie.css" />
<![endif]-->
{% endblock %}

{% block content %}

<div class="col1">
    <div id="dieIE" style="display:none; font-size: 3em; line-height: 3em; text-align: center;">为了能多做些有意义的事情，请使用非IE浏览器。</div>
{% include 'articles/_article_content.html' %}
</div>
<div class="col2">
{% include 'articles/_meta.html' %}
</div>
<div class="col4">
{% include 'articles/_comments.html' %}
</div>

{% endblock %}

{% block footer %}
{{ block.super }}

<script type="application/javascript">
{% if disqus_forum %}
    //<![CDATA[
    (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
        }
        document.write('<script charset="utf-8" type="application/javascript" src="http://disqus.com/forums/{{ disqus_forum }}/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
{% endif %}
</script>
{% endblock %}
